<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__mobile-menu">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                <div class="page-header__nav-link-icon-container">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-rocket">
                                        <use xlink:href="#rocket"></use>
                                    </svg>
                                </div>

                                Скиллы
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                <div class="page-header__nav-link-icon-container">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>

                                Round.TV
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                <div class="page-header__nav-link-icon-container">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-cup">
                                        <use xlink:href="#cup"></use>
                                    </svg>
                                </div>

                                Конкурсы
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="page-header__user">
                <div class="page-header__user-notifications">
                    <a href="#" class="page-header__user-notifications-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-notification">
                            <use xlink:href="#notification"></use>
                        </svg>
                    </a>
                    <div class="page-header__user-notifications-count">
                        7
                    </div>
                </div>
                <div class="page-header__user-profile">
                    <a href="#" class="page-header__user-profile-link">
                        <img src="img/profile.jpg" alt="" class="page-header__user-profile-link-image">
                    </a>
                </div>
            </div>
            <button class="page-header__burger js-menu-burger">
                <span class="page-header__burger-content">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

            </button>
        </div>
    </div>
</header>