{{#extend "layout"}}
{{#content "main"}}

<section class="experiment">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Скиллы
                    </a>
                </li>

                <li class="breadcrumbs__list-item active">
                    <a href="#" class="breadcrumbs__link">
                        Конструктор космических аппаратов
                    </a>
                </li>
            </ul>
        </div>
        <div class="experiment__row">
            <div class="experiment__left-col">
                <div class="experiment__gallery js-experiment-gallery">
                    <div class="experiment__gallery-left-col">
                        <div class="experiment__gallery-thumbs-slider">
                            <button class="experiment__gallery-arrow experiment__gallery-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                    <use xlink:href="#arrow-up"></use>
                                </svg>
                            </button>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-thumbs-slider-card">
                                            <img src="img/preview-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-thumbs-slider-card">
                                            <img src="img/preview-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-thumbs-slider-card">
                                            <img src="img/preview-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-thumbs-slider-card">
                                            <img src="img/preview-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-thumbs-slider-card">
                                            <img src="img/preview-image.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="experiment__gallery-arrow experiment__gallery-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="experiment__gallery-right-col">
                        <div class="experiment__gallery-main-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-main-slider-card">
                                            <img src="img/experiment-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-main-slider-card">
                                            <img src="img/experiment-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-main-slider-card">
                                            <img src="img/experiment-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-main-slider-card">
                                            <img src="img/experiment-image.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="experiment__gallery-main-slider-card">
                                            <img src="img/experiment-image.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experiment__right-col">
                <h1 class="experiment__heading">
                    Космический эксперимент
                </h1>
                <div class="experiment__features">
                    <div class="experiment__features-skills">
                        <ul class="experiment__features-skills-list">
                            <li class="experiment__features-skills-list-item">
                                <div class="experiment__features-skills-card">
                                    <div class="experiment__features-skills-card-icon-container">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                            <use xlink:href="#fire"></use>
                                        </svg>
                                    </div>
                                    <div class="experiment__features-skills-card-text">
                                        Длинное длинное<br> название скилла
                                    </div>
                                </div>
                            </li>
                            <li class="experiment__features-skills-list-item">
                                <div class="experiment__features-skills-card">
                                    <div class="experiment__features-skills-card-icon-container">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                            <use xlink:href="#fire"></use>
                                        </svg>
                                    </div>
                                    <div class="experiment__features-skills-card-text">
                                        Длинное длинное<br> название скилла
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="experiment__features-tags">
                        <ul class="experiment__features-tags-list">
                            <li class="experiment__features-tags-list-item">
                                <div class="experiment__features-tags-card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-scale">
                                        <use xlink:href="#scale"></use>
                                    </svg>
                                    Сложно
                                </div>
                            </li>
                            <li class="experiment__features-tags-list-item">
                                <div class="experiment__features-tags-card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                        <use xlink:href="#fire"></use>
                                    </svg>
                                    Огонь!
                                </div>
                            </li>
                            <li class="experiment__features-tags-list-item">
                                <div class="experiment__features-tags-card">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                        <use xlink:href="#fire"></use>
                                    </svg>
                                    Огонь!
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="experiment__description js-experiment-description">
                    <div class="experiment__description-hidden-content-wrapper">
                        <div class="experiment__description-hidden-content">
                            <h3>
                                Описание
                            </h3>
                            <p>
                                В своем проекте изучите, как распадаются и соединяются атомы, чтобы создавать различные
                                молекулярные структуры. Настоящие профи могут нахимичить как полезные, так и опасные
                                соединения. Поделись своими навыками и опубликуй. Стань одним из первых
                            </p>
                            <p>
                                В своем проекте изучите, как распадаются и соединяются атомы, чтобы создавать различные
                                молекулярные структуры. Настоящие профи могут нахимичить как полезные, так и опасные
                                соединения. Поделись своими навыками и опубликуй. Стань одним из первых
                            </p>
                        </div>
                    </div>
                    <a href="#" class="experiment__description-show-more" data-open-text="Скрыть">
                        Подробнее
                    </a>
                </div>
                <div class="experiment__buttons">
                    <a href="#" class="experiment__add-project-btn">
                        Добавить проект

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </a>
                    <a href="#" class="experiment__bookmark-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-bookmark">
                            <use xlink:href="#bookmark"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}