{{#extend "layout"}}
{{#content "main"}}


<section class="competition">
    <div class="container">
        <div class="competition__slider js-competition-slider">
            <button class="competition__slider-arrow competition__slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="competition__slider-arrow competition__slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="competition__slider-card">
                            <img src="img/slider-image.jpg" alt="" class="competition__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="competition__slider-card">
                            <img src="img/slider-image.jpg" alt="" class="competition__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="competition__slider-card">
                            <img src="img/slider-image.jpg" alt="" class="competition__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="competition__row">
            <div class="competition__left-col">
                <h2 class="competition__heading">
                    Космический раунд!
                </h2>
                <div class="competition__info">
                    <div class="competition__info-text">
                        <p>
                            Текст о конкурсе. Залетай в приложение ROUND! Затести новинку, раскрой таланты и прокачай
                            скиллы, выполняя челленджи! Стань одним из первых контент-мейкеров на новой площадке,
                            выиграй
                            XIAOMI Redmi Note 9 и другие призы! Как?
                        </p>
                        <p>
                            • Выполни один из двух космических челленджей и загрузи фото или видео своего проекта в
                            приложение ROUND! или на сайт
                        </p>
                        <p>
                            • Заполни анкету участника
                        </p>
                        <p>
                            • Дождись оценки от жюри и пользователей
                        </p>
                    </div>

                     <a href="#" class="competition__info-link"> Подробный регламент конкурса</a>
                </div>
            </div>
            <div class="competition__right-col">
                <ul class="competition__projects-list">
                    <li class="competition__projects-list-item">
                        <a href="#" class="competition__projects-card">
                            <div class="competition__projects-card-image-container">
                                <img src="img/project-1.jpg" alt="" class="competition__projects-card-image">
                            </div>
                            <h4 class="competition__projects-card-title">
                                Проект спутника кубсата
                            </h4>
                            <div class="competition__projects-card-text">
                                Конструктор космических аппаратов
                            </div>
                        </a>
                    </li>
                    <li class="competition__projects-list-item">
                        <a href="#" class="competition__projects-card">
                            <div class="competition__projects-card-image-container">
                                <img src="img/project-2.jpg" alt="" class="competition__projects-card-image">
                            </div>
                            <h4 class="competition__projects-card-title">
                                Проект спутника кубсата
                            </h4>
                            <div class="competition__projects-card-text">
                                Конструктор космических аппаратов
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}