{{#extend "layout"}}
{{#content "main"}}


<section class="register">
    <div class="container">
        <div class="register__content">
            <div class="register__message">
                <h2 class="register__message-heading">
                    <svg width="14" height="14" aria-hidden="true" class="icon-smile">
                        <use xlink:href="#smile"></use>
                    </svg>
                    Регистрация не удалась
                </h2>
                <div class="register__message-text">
                    <p>
                        Попробуй зарегистрироваться еще раз
                    </p>
                </div>
                <div class="register__message-bottom">
                    <a href="#" class="register__message-back-link">
                        Ok
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}