{{#extend "layout"}}
{{#content "main"}}


<section class="register">
    <div class="container">
        <div class="register__content">
            <form action="/" method="POST" class="register__form">
                <h4 class="register__form-heading">
                    Регистрация
                </h4>
                <div class="register__form-step">
                    Шаг 1/5
                </div>
                <div class="register__form-row">
                    <h4 class="register__form-row-heading">
                        Никнейм
                    </h4>
                    <input type="text" class="text-input register__form-input">
                    <div class="register__form-remark">
                        Придумай себе никнейм. Можно использовать латинские буквы, цифры и специальные знаки
                    </div>

                </div>
                <button class="register__form-next-btn" type="submit">
                    Далее
                </button>
            </form>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}