.text-input {
    font-size: 1.6rem;
    line-height: 150%;
   
    padding: 0 2.4rem;
    color: #333333;
    height: 5.6rem;
    border: 1px solid #8D9198;
    border-radius: .8rem;
    transition: border-color .2s;
    &:hover,
    &:focus {
        border-color:  #0A2677;
    }

    &--error {
        border-color: #FC5B19;
    }

    @include breakpoint(mobile) {
        height: 5rem;
        padding: 0 1.8rem;
    }
}


textarea.text-input {
    padding: 1.6rem 2.4rem;
    height: 14rem;

    @include breakpoint(mobile) {
        padding: 1.8rem;
    }
}